@font-face {
	font-family: FabrikR;
	src: url(fonts/Fabrik-Regular.otf);
}
@font-face {
	font-family: FabrikB;
	src: url(fonts/Fabrik-Bold.otf);
}
@font-face {
	font-family: Ampersand;
	src: url(fonts/ampersand.ttf);
}
@font-face {
	font-family: NowAltT;
	src: url(fonts/NowAlt-Thin.otf);
}
@font-face {
	font-family: Signatura;
	src: url(fonts/Signatura-Monoline.otf);
}


html {
	–webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
}
body.home {
	padding-left: 77px;
}

p, h1 {
	font-family: Arial, Helvetica, sans-serif
}
a {
	text-decoration: none;
	color: black;
    cursor: url(img/link_cursor.svg), auto;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* navigation home */
.menuHome {
    display: table;
    width: 100%;
    height: 100vh;
    font-family: FabrikR;
}
.menuHome .menuItem {
    display: table-cell;
    position: relative;
    padding-bottom: 90px;
    border-left: 1px solid #aaa;
    color: #fff;
    font-size: 1em;
    vertical-align: bottom;
    text-align: left;
    transition: all 1s ease-out, visibility 1ms;
}
.menuHome .period1 {
	width: 20%;
}
.menuHome .period2 {
	width: 10%;
}
.menuHome .period3 {
	width: 20%;
}
.menuHome .period4 {
	width: 12%;
}
.menuHome .period5 {
	width: 9%;
}
.menuHome .period6 {
	width: 29%;
}
.menuHome .menuItem span {
    display: block;
    transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg); /* Safari/Chrome */
}
.menuHome .menuItem:hover {
	font-size: 1.5em;
}

/* navigation */
.info {
	font-family: FabrikR;
	position: relative;
}
.menuSidePanel {
	position: fixed;
	height: 50px;
	width: 100vh;
	display: inline;
	transform: rotate(-90deg) translate(0%, 100%);
	-webkit-transform-origin: 0 100%;
	bottom: 0;
	left: 0px;
	z-index: 1000;
}
.menuSidePanel ul {
	list-style: none;
    display: inline-block;
    width: 100vh;
    line-height: 30px;
    padding: 0;
    margin-left: 20px;
}

.menuSidePanel ul li {
	display:inline-block;
	margin-left: 10px;
}
.menuSidePanel .periodName {
	font-size: 1.2em;
	line-height: 30px;
	margin-left: 15px;
	font-weight: normal;
	text-align: left;
}
.menuSidePanel ul .periodSpan {
	line-height: 30px;
	font-family: FabrikR;
	font-size: 30px;
	text-align: right;
	margin-right: 35px;
	text-decoration: none;
}
.menuSidePanel ul .logo {
    float: right;
    margin-right: 55px;
    transform: rotate(90deg);
}

.aboutsocial {
	position: relative;
}
.aboutsocial .container {
	position: fixed;
	height: 50px;
	width: 100vh;
	display: inline;
	top: 15px;
	z-index: 1000;
	right: 40px;

}
.vertical-line {
	height: 97%;
	width: 1px; /* Line width */
    background-color: black; /* Line color */
	margin-left: 55px;
	position: fixed;
	margin-top: 15px; margin-bottom: 10px;
	z-index: 1000;

}
/* navigation */

/*.navigationSidePanel {
	font-family: FabrikR;
	position: fixed;
	height: 90px;
	width: 100vh;
	display: inline;
	transform: rotate(-90deg) translate(90%, 100%);
	-webkit-transform-origin: 90% 100%;
	bottom: 0px;
	right: 0px;
}
.navigationSidePanel ul {
	text-align: left;
	list-style: none;
    display: inline-block;
    width: 100vh;
    transform: rotate(-180deg) translate(0, 0);
	-webkit-transform-origin: 0, 0;
}
.navigationSidePanel ul li {
	display:inline-block;
	margin-left: 15px;
	text-align: left;
}*/
.navigationSidePanel {
	width: 100%;
	position: relative;
	height: 100vh;
	display: block;
	margin: 0;
	text-align: center;
}
#year {
    pointer-events: none;
	font-family: Arial;
	font-size: 25em;
	line-height: 100vh;
  	margin: 0 auto;
  	position: fixed;
  	bottom: 0; right: 0; top: 0; left: 0;
  	text-align: center;
  	color: white;
  	z-index: 900;
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* filters */
.filters {
	font-family: FabrikR;
	position: fixed;
	height: 50px;
	display: inline;
	z-index: 1000;
	height: 40px;
	font-size: 1.2em;
	top: 0px;
	left: 80px;
}
.filters div {
	margin-top: 10px;
}
.classfilter {
    cursor: url(img/link_cursor.svg), pointer;
    margin-right: 15px;
}
.classfilter:hover {
	opacity: 0.6;
}
.strikethrough{
  text-decoration: line-through;
  opacity: 0.6;
}




.timeLineContainer{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: none;
	z-index: 10;
}

/* years */
.timeLine{
	width: 10%;
	height: 100%;
	float: left;
	background: none;
	position:relative;
	overflow:hidden;
}
.timeLineYear{
	font-family: FabrikR;
	font-weight: 300;
	position: absolute;
	font-size: 2em;
	background: none;

}

/* events */
.eventContainer{
	width: 90%;
	height: 100%;
	float: left;
	position:relative;
	overflow:hidden;
}
.event{
	height: 190px;
	min-width: 50px;
	position:absolute;
    pointer-events: none;
}
.event .inner {
    overflow: hidden;
    width: 400px;
	height: 300px;
    position: fixed;
    pointer-events:auto;
    transition: all 2s ease-out, visibility 1ms;
    cursor: url(img/link_cursor.svg), auto;
    text-align: right;
}
.event .inner img {
	width: 100%;
	filter: grayscale(100%);
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
}

.event .inner:hover {
	transform: scale(1.05);
}
/*.czech img {
	border-radius: 50%;
}*/
.event .name {
	font-family: Arial;
	font-size: 13px;
}
.namechapter .name {
	font-family: FabrikR;
	font-size: 4em;
	width: 70%;
	text-align: left;
	color: black;
}
.year {
	font-family: FabrikR;
	visibility: hidden;
}
.artworks .inner {
    overflow: visible;
	height: auto !important;
}
.artworks .inner img {
	width: 400px;
	height: auto !important;
	filter: none !important;
	z-index: 100;
	visibility: visible !important;
}
.artworks .name {
	visibility: hidden;
}
.artworks .description {
    position:absolute;
    top: 70%;
    right: 0;
    width: 400px;
	font-family: FabrikR !important;
	font-size: 3em;
	line-height: 1em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	transform: rotate(90deg) translate(0%, 50%);
	transform-origin: 100% 100%;
}

.styles .name {
	visibility: hidden;
}
.textual .inner img{
	width: 200px !important;
}
.description {
	font-size: 19px;
}
.paragraph .description {
	font-family: FabrikR !important;
	font-size: 3em;
	line-height: 1.3em;
	width: 400px;
	height: auto !important;
}
.illustration img{
	width: 100%;
	height: 500px !important;
}

/* sizes */

/*.three .name {
	width: 10% !important;
}
.three img {
	width: 10% !important;
}
.two .name {
	width: 200px !important;
}
.two img {
	width: 200px !important;
}
.zero .name {
	width: 40% !important;
}
.zero img {
	width: 40% !important;
}*/



/* categories */
/* kdyz to odkomentuju, scroll se zacne trhat
.artworks {
	display: none;
}
.styles {
	display: none;
}
*/




/*#gridlines img {
    background-color: #c3ac8b;
    opacity: 0.2;
}*/

#gridlines img {
    pointer-events: none;
	position:fixed;
    left: 50px;
    top: -20px;
	width: 100%;
    z-index: 1000;
    visibility: hidden;
}

#gradient_container {
	position: relative;
}
#gradient {
    position:fixed;
    z-index: 800;
    right:0; top:0; left:0;
    height:100px;
    opacity: 0.4;
    background-color: red;
    transform: rotate(180deg);
    background: -moz-linear-gradient(top,  rgba(255,255,255,) 0%, rgba(255,255,255,1) 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }

.popup, .popup-artwork {
	font-family: FabrikR;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3.3em;
}

.popup-years {
    position: absolute;
    top: 15%;
    right: 10px;
    font-size: 4em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


.popup h2 {
    font-size: 3em;
}

.popup .tags {
    position: absolute;
    left: 21.0%;
    top: 15%;
}

.popup .text {
    position: absolute;
    left: 38.5%;
    top: 15%;
    width: 50%;
}

.popup .image {
    width: 74%;
}


.popup-artwork h1 {
	font-family: FabrikR;
    font-size: 5em;
    margin: 0 0 10px 0;
}

.popup-artwork h2 {
    font-size: 3em;
    margin: 0;
}

.popup-artwork .text {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 78.5%;
    height: 70%;
}

.popup-artwork .popisy {
    float: left;
    width: 29%;
}

.popup-artwork .popisy .small {
    font-size: 0.8em;
    padding-top: 100px;
    padding-left: 42%;
}

.popup-artwork .image {
    width: 60%;
    height: 100%;
    float: right;
    padding-left: 4.2%;
	overflow:hidden;
}


.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}



/**** Media Query ***/
@media only screen and (max-width: 1280px) {
    .event .inner img {
	width: 280px;
	height: 200px;
	}
	.paragraph .description {
	font-family: FabrikR !important;
	font-size: 3em;
	line-height: 1.4em;
	width: 300px;
	height: auto;
	}
	#year {
	font-family: Arial;
	font-size: 8em;
	}
	.popup-years {
    position: absolute;
    font-size: 3em;
	}
	.popup h2 {
    font-size: 1.5em;
	}
	.popup-artwork h2 {
    font-size: 1.5em;
	}

}

