@font-face {
	font-family: FabrikR;
	src: url(fonts/Fabrik-Regular.otf);
}
@font-face {
	font-family: FabrikB;
	src: url(fonts/Fabrik-Bold.otf);
}
@font-face {
	font-family: Ampersand;
	src: url(fonts/ampersand.ttf);
}
@font-face {
	font-family: NowAltT;
	src: url(fonts/NowAlt-Thin.otf);
}
@font-face {
	font-family: Signatura;
	src: url(fonts/Signatura-Monoline.otf);
}


html {
	–webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
}
body.home {
	padding-left: 77px;
}

p, h1 {
	font-family: Arial, Helvetica, sans-serif
}
a {
	text-decoration: none;
	color: black;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* navigation home */
.menuHome {
    display: table;
    width: 100%;
    height: 100vh;
    font-family: FabrikR;
}
.menuHome .menuItem {
    display: table-cell;
    position: relative;
    width: 16.6666%;
    border-top: 15px solid transparent;
    border-left: 1px solid #aaa;
    color: #fff;
    font-size: 1.3em;
    vertical-align: bottom;
    overflow: hidden;
}
.menuHome .menuItem:hover {
    border-top: 15px solid red;
    font-size: 2.2em;
}
.menuHome .menuItem:hover .menuTextBig:after {
    content: "*";
    position: absolute;
    color: red;
    font-size: 2.2em;
}
.menuHome .menuItem .menuTextBig {
    font-size: 1.0em;
}
.menuHome .menuItem .menuItemIn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 92vh;
    padding: 15px;
    transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin: 0% 50%;
}

/* navigation */
.info {
	font-family: FabrikR;
	position: relative;
}
.menuSidePanel {
	position: fixed;
	height: 50px;
	width: 100vh;
	display: inline;
	transform: rotate(-90deg) translate(0%, 100%);
	-webkit-transform-origin: 0 100%;
	bottom: 0;
	left: 0px;
	z-index: 1000;
}
.menuSidePanel ul {
	list-style: none;
    display: inline-block;
    width: 100vh;
    line-height: 30px;
    padding: 0;
    margin-left: 20px;
}

.menuSidePanel ul li {
	display:inline-block;
	margin-left: 10px;
}
.menuSidePanel .periodName {
	font-size: 1.2em;
	line-height: 30px;
	margin-left: 15px;
	font-weight: normal;
	text-align: left;
}
.menuSidePanel ul .periodSpan {
	line-height: 30px;
	font-family: FabrikR;
	font-size: 30px;
	text-align: right;
	margin-right: 35px;
	text-decoration: none;
}
.menuSidePanel ul .logo {
    float: right;
    margin-right: 55px;
    transform: rotate(90deg);
}
/* navigation */

/*.navigationSidePanel {
	font-family: FabrikR;
	position: fixed;
	height: 90px;
	width: 100vh;
	display: inline;
	transform: rotate(-90deg) translate(90%, 100%);
	-webkit-transform-origin: 90% 100%;
	bottom: 0px;
	right: 0px;
}
.navigationSidePanel ul {
	text-align: left;
	list-style: none;
    display: inline-block;
    width: 100vh;
    transform: rotate(-180deg) translate(0, 0);
	-webkit-transform-origin: 0, 0;
}
.navigationSidePanel ul li {
	display:inline-block;
	margin-left: 15px;
	text-align: left;
}*/
.navigationSidePanel {
	width: 100%;
	position: relative;
	height: 100vh;
	display: block;
	margin: 0;
	text-align: center;
}
#year {
    pointer-events: none;
	font-family: Arial;
	font-size: 15em;
	line-height: 100vh;
  margin: 0 auto;
  position: fixed;
  bottom: 0; right: 0; top: 0; left: 0;
  text-align: center;
  z-index: 850;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* filters */
.filters {
	font-family: FabrikR;
	position: fixed;
	height: 50px;
	width: 100vh;
	display: inline;
	z-index: 800;
	height: 40px;
	font-size: 1.2em;
	top: 0px;
	right: 0px;
	bottom:0px;
}
.filters div {
	margin-top: 10px;
}
.classfilter {
    cursor: pointer;
    margin-right: 10px;
}
.strikethrough{
  text-decoration: line-through;
}




.timeLineContainer{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: none;
	z-index: 10;
}

/* years */
.timeLine{
	width: 10%;
	height: 100%;
	float: left;
	background: none;
	position:relative;
	overflow:hidden;
}
.timeLineYear{
	font-family: FabrikR;
	font-weight: 300;
	position: absolute;
	font-size: 2em;
	background: none;

}

/* events */
.eventContainer{
	width: 90%;
	height: 100%;
	float: left;
	position:relative;
	overflow:hidden;
}
.event{
	height: 190px;
	min-width: 50px;
	position:absolute;
    pointer-events: none;
}
.event .inner {
    overflow: hidden;
    position: fixed;
    pointer-events:auto;
    transition: all 2s ease-out, visibility 1ms;
}
.event .inner img {
	width: 400px;
	filter: grayscale(100%);
	border: 2px solid black;
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
}

.event .inner:hover {
	transform: scale(1.05);
}
.czech img {
	border-radius: 50%;
}
.event .name {
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	width: 400px;
}
.namechapter .name {
	font-family: FabrikR;
	font-size: 4em;
	width: 70%;
	text-align: left;
	color: black;
}
.year {
	font-family: FabrikR;
	visibility: hidden;
}
.artworks .inner img {
	width: 600px;
	filter: none !important;
	z-index: 100;
	visibility: visible !important;
}
.artworks .name {
	visibility: hidden;
}
.artworks .description {
	position: absolute;
	top: -20px; right: -400px;
	font-family: FabrikB;
	font-size: 4em;
	color: white;
	transform: rotate(90deg) translate(0%, 100%);
	-webkit-transform-origin: 0 100%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}
.styles .name {
	visibility: hidden;
}
.textual .inner img{
	width: 400px !important;
}
.description {
	font-size: 19px;
}
.paragraph .description {
	font-family: Signatura !important;
	font-size: 2.5em;
	width: 300px;
}
.illustration .inner img{
	width: 40%;
}

/* sizes */

.three .name {
	width: 20% !important;
}
.three img {
	width: 20% !important;
}
.two .name {
	width: 40% !important;
}
.two img {
	width: 40% !important;
}
.zero .name {
	width: 50% !important;
}
.zero img {
	width: 50% !important;
}



/* categories */
/* kdyz to odkomentuju, scroll se zacne trhat
.artworks {
	display: none;
}
.styles {
	display: none;
}
*/



/*#gridlines img {
    background-color: #c3ac8b;
    opacity: 0.2;
}*/

#gridlines img {
    pointer-events: none;
	position:fixed;
    left: 50px;
    top: -20px;
    background-color: white;
    opacity: 0.2;
	width: 100%;
    z-index: 1000;
}

#gradient_container {
	position: relative;
}
#gradient {
    position:fixed;
    z-index: 800;
    right:0; top:0; left:0;
    height:100px;
    opacity: 0.4;
    background-color: red;
    transform: rotate(180deg);
    background: -moz-linear-gradient(top,  rgba(255,255,255,) 0%, rgba(255,255,255,1) 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }

.popup, .popup-artwork {
	font-family: FabrikR;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 5em;
}

.popup-years {
    position: absolute;
    top: 15%;
    right: 10px;
    font-size: 4em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


.popup h2 {
    font-size: 3em;
}

.popup .tags {
    position: absolute;
    left: 21.0%;
    top: 15%;
}

.popup .text {
    position: absolute;
    left: 38.5%;
    top: 15%;
    width: 50%;
}

.popup .image {
    width: 74%;
}


.popup-artwork h1 {
    font-size: 5em;
    margin: 0 0 10px 0;
}

.popup-artwork h2 {
    font-size: 3em;
    margin: 0;
}

.popup-artwork .text {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 83.5%;
    height: 70%;
}

.popup-artwork .popisy {
    float: left;
    width: 29%;
}

.popup-artwork .popisy .small {
    font-size: 0.8em;
    padding-top: 100px;
    padding-left: 42%;
}

.popup-artwork .image {
    width: 70%;
    height: 100%;
    float: right;
    padding-left: 4.2%;
	overflow:hidden;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

