<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="data.js"></script>
	<script type="text/javascript" src="featherlight.min.js"></script>
	<script type="text/javascript" src="underscore-min.js"></script>
	<script type="text/javascript" src="js.js"></script>
	<link rel="stylesheet" href="featherlight.min.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css.css" type="text/css" media="screen">

    <script type="text/html" id="popup_tmpl">
        <div class="popup">
            <h2><%= name %></h2>
              <% if (typeof(image) !== 'undefined' && image.length !== 0) { %>
                  <div class="image"><img src="img/<%= image %>" alt="" /></div>
              <% } %>
              <% if (typeof(description) !== 'undefined') { %>
                  <div class="description"><%= description %></div>
              <% } %>
        </div>
    </script>

    <script type="text/html" id="event_tmpl">
        <div class="inner">
            <div class="year"><%= years %></div>
            <% if (typeof(image) !== 'undefined' && image.length !== 0) { %>
                <div class="image"><img src="img/<%= image %>" alt="" /></div>
            <% } %>
            <div class="name"><%= name %></div>
            <% if (typeof(description) !== 'undefined') { %>
                <div class="description"><%= description %></div>
            <% } %>
        </div>
    </script>

    <script type="text/javascript">
        var audioElement;
        var TIME_START = "01/01/1940";
        var TIME_END = "01/01/2017";
        var DAY_PIXEL_LENGTH = 1.0;
        var EVENT_WIDTH = 200;

        var popup_tmpl = _.template($("#popup_tmpl").html());
        var event_tmpl = _.template($("#event_tmpl").html());


        $(document).ready(function() {
            init_timeline();
            init_data(EVENTS);
            scroll();
            $(window).scroll(scroll);

            $('input.classfilter').change(function() {
                $('.event.' + $(this).val()).toggle();
                scroll();
            });

            $('.event .inner').click(function() {
                $.featherlight($(popup_tmpl(EVENTS[$(this).parent().data('eventindex')])), {});
            });

            audioElement = document.createElement('audio');
            audioElement.setAttribute('src', 'kytice_lzi_04.mp3');
            audioElement.setAttribute('autoplay', 'autoplay');
            audioElement.addEventListener('ended', function() {
                this.play();
            }, false);
            $('.audio-play').click(function() {
                if (audioElement.paused) {
                    audioElement.play();
                    $(this).html = $(this).text('pause');
                } else {
                    audioElement.pause();
                    $(this).html = $(this).text('play');
                };
                return false;
            });
        });

    </script>
</head>

<body>
    <div class="info">
        <h1>HTML Parallax Scrolling Timeline</h1>
        <form class="filters">
            <div>
                <input type="checkbox" value="world" checked="checked" class="classfilter"/> world
                <input type="checkbox" value="czech" checked="checked" class="classfilter"/> czech
            </div>
            <div>
                <input type="checkbox" value="politics" checked="checked" class="classfilter"/> politics
                <input type="checkbox" value="art" checked="checked" class="classfilter"/> art
                <input type="checkbox" value="culture" checked="checked" class="classfilter"/> culture
                <input type="checkbox" value="sciencetechnology" checked="checked" class="classfilter"/> technology
            </div>
            <div>
                <button class="audio-play" data-play="Play" data-pause="Pause">pause</button>
            </div>
        </form>

    </div>

    <div id="divTimeLineContainer" class="timeLineContainer">
        <div id="divTimeLine" class="timeLine">
        </div>
        <div id="divEventContainer" class="eventContainer">
        </div>
    </div>
</body>
</html>
