<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="data.js"></script>
	<script type="text/javascript" src="featherlight.js"></script>
	<script type="text/javascript" src="underscore-min.js"></script>
	<script type="text/javascript" src="js.js"></script>
	<link rel="stylesheet" href="featherlight.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css.css" type="text/css" media="screen">

    <script type="text/html" id="popup_tmpl">
        <div class="popup">
            <div class="close">
                <a href="#" class="featherlight-close">&#10005;</a>
            </div>
            <div class="tags">
                TAGS:
                <p>Culture, Czech</p>
            </div>
            <div class="years"><%= years %></div>
            <div class="text">
                <% if (typeof(image) !== 'undefined' && image.length !== 0) { %>
                    <div class="image">
                        <img class="img-responsive" src="img/<%= image %>" alt="" />
                    </div>
                <% } %>
                <h2 class="title"><%= name %></h2>
                <p>Lorem ipsum dolor sit amet, vis eu posse graecis corrumpit. Homero civibus ea quo, melius phaedrum inciderint duo ea. Usu timeam senserit ex. Pro possim adolescens ei. Maluisset complectitur definitionem in usu, doming mandamus eu per, pri stet salutandi in.</p>
            </div>
            <% if (typeof(description) !== 'undefined') { %>
                <div class="name"><%= description %></div>
            <% } %>
        </div>
    </script>

    <script type="text/html" id="event_tmpl">
        <div class="inner">
            <div class="year"><%= years %></div>
            <% if (typeof(image) !== 'undefined' && image.length !== 0) { %>
                <div class="image"><div class="overlay"></div><img src="img/<%= image %>" alt="" /></div>
            <% } %>
            <div class="name"><%= name %></div>
            <% if (typeof(description) !== 'undefined') { %>
                <div class="description"><%= description %></div>
            <% } %>
        </div>
    </script>

    <script type="text/javascript">
        /*default, pokud v URL parametru neni rozumny start spanu */
        var TIME_START = 1970;
        var TIME_END = 2017;
        var DAY_PIXEL_LENGTH = 1.0;


        $(document).ready(function() {
            init(EVENTS, TIME_START, TIME_END, DAY_PIXEL_LENGTH);

            $('.classfilter').click(function(event){
                event.preventDefault();
                var t=$(this);
                if (t.hasClass('strikethrough')) {
                    $('.event.' + $(this).data('value')).css('visibility', 'visible');
                    scroll();
                    t.removeClass('strikethrough');
                } else {
                    $('.event.' + $(this).data('value')).css('visibility', 'hidden');
                    t.addClass('strikethrough');
                }
            });

            var css='featherlight';
            var background = $([
                '<div class="'+css+'-loading '+css+'">',
                    '<div class="'+css+'-content">',
                        '<div class="'+css+'-inner"></div>',
                    '</div>',
                '</div>'].join(''));

            $('.event .inner').click(function() {
                $.featherlight($(popup_tmpl(EVENTS[$(this).parent().data('eventindex')])), {
                    openSpeed: 1000,
                    closeSpeed: 1000,
                    background: background,
                    });
            });

            $('.event .inner').hover(
                function() {
                    $('.event .inner').css('z-index', 1);
                    $(this).css('z-index', 10);
                    },
                function() {
                }
            );

            $('.audio-play').click(function() {
                var b=$(this);
                if (audioElement.paused) {
                    audioElement.play();
                    b.text(b.data('pause'));
                } else {
                    audioElement.pause();
                    b.text(b.data('play'));
                };
                return false;
            });

            $(window).scroll(scroll);
            $(window).resize(resize);
        });

    </script>
</head>

<body>
    <div id="gradient_container"><div id="gradient"></div></div>
    <div id="gridlines_container"><div id="gridlines"><img src="img/grid-03.svg"></div></div>
    <div class="info">
        <div class="menuSidePanel">
            <ul>
                <li><img src="img/sound_icon-07.svg" class="audio-play" data-play="Play" data-pause="Pause" /></li>
                <li><img src="img/index_icon-03.svg" /></li>
                <li class="periodName">Last&nbsp;Decade&nbsp;of&nbsp;the&nbsp;Regime</li>
                <li class="periodSpan" style="float:right"><a href="index.html">80-89</a></li>
            </ul>
        </div>
        <form class="filters">
            <div>
                <span href="#" data-value="art" class="classfilter">Art</span>
                <span href="#" data-value="politics" class="classfilter">Politics</span>
                <span href="#" data-value="culture" class="classfilter">Culture</span>
                <span href="#" data-value="sciencetechnology" class="classfilter">Technology</span>
            </div>
        </form>
        <div class="navigationSidePanel">
            <div id="year"></div>
            <!--<ul>
                <li>Period</li>
                <li class="underline">Timeline</li>
                <li>Artworks</li>
            </ul>-->
        </div>

    </div>

    <div id="divTimeLineContainer" class="timeLineContainer">
        <div id="divEventContainer" class="eventContainer">
        </div>
        <div id="divTimeLine" class="timeLine">
        </div>
    </div>

    <div class="eventspadding">
    </div>
</body>
</html>
